<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092859518920-6j91l64ec0pkt71nafuc2u4fi2hiv19m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092859518920-6j91l64ec0pkt71nafuc2u4fi2hiv19m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092859518920-bsnc1122log3tc49cjvin6ulu9m9f1iv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD98wMsqTBarbsJe7Mb5DkWdhrbZCfunpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1092859518920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiLkbhUnmul</string>
	<key>PROJECT_ID</key>
	<string>lkbh-database</string>
	<key>STORAGE_BUCKET</key>
	<string>lkbh-database.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092859518920:ios:f6c634a3aaed877f966afd</string>
</dict>
</plist>